/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}


.gwt-DeckPanel {
    margin-left: 15px;
    width: 330px;
    height: 100px;
    padding: 15px;
    background-color: #AACCFF;
    border: 2px solid #3366CC;
    font-weight: bold;
}

.gwt-Button {
    width: 100px;
    height: 30px;
    margin: 15px;
}
body, td, a, div, .p {
    font-family: arial, sans-serif
}
